{{template "header.html" .}}

<div class="page-wrapper">
  <!-- Page header -->
  <div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <h2 class="page-title">
            About
          </h2>
        </div>
      </div>
    </div>
  </div>
  <!-- Page body -->
  <div class="page-body">
    <div class="container-xl">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-9">
          <div class="card card-lg">
            <div class="card-body markdown">
              <h1 id="whos-that-then">素问</h1>
              <p>一个用于展示漏洞情报的网站, 并且可以通过 RSS 订阅本网站获取以上信息推送</p>

              <p>订阅地址: <a href="https://su.fireline.fun/rss" target="_blank">https://su.fireline.fun/rss</a></p>

              <h1>致谢</h1>
              <ul>
                <li><a href="https://www.gksec.com/" target="_blank">感谢 W4ter 师傅提供的服务器</a></li>
                </li>
                <li><a href="https://github.com/zema1/watchvuln" target="_blank">https://github.com/zema1/watchvuln</a>
                </li>
                <li><a href="https://github.com/chatanywhere/GPT_API_free"
                    target="_blank">https://github.com/chatanywhere/GPT_API_free</a></li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{template "footer.html" .}}
</div>
</div>
</body>

</html>